<h1>{{title}}</h1>

{{#if articles.length}}
    <ul>
        {{#each articles}}
            <li>
                <h2><a href="/articles/{{this.id}}">{{this.title}}</a></h2>

                <p>{{this.content}}</p>
                <small>Par {{this.author}} - {{this.created_at}}</small>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Aucun article pour le moment.</p>
{{/if}}